exportPattern( "^[^\\.]" )
#export( MAT_MDplot_DSSP_example, MAT_MDplot_RMSD_example, MAT_MDplot_ramachandran_example,
#        MDplot_DSSP_summary, MDplot_DSSP_timeseries, MDplot_RMSD, MDplot_clusters, MDplot_TIcurve )
