import( R.utils )
import( MASS )
import( RColorBrewer )
import( gplots )
import( calibrate )
import( gtools )
import( grDevices )



#exportPattern( "^[^\\.]" )
export( 
         MDplot_DSSP_summary,
         MDplot_DSSP_timeseries,
         MDplot_RMSD,
         MDplot_clusters,
         MDplot_TIcurve,
         MDplot_hbond,
         MDplot_ramachandran
       )
#exportClasses
