import( methods )
import( MASS )
import( RColorBrewer )
import( gtools )
import( gplots )
importFrom( "graphics", "abline", "axis", "barplot", "contour", "image", "layout",
            "legend", "lines", "mtext", "par", "persp", "plot", "plot.new",
            "rasterImage", "segments", "text", "axTicks" )
importFrom( "stats", "sd" )
importFrom( "utils", "read.table", "write.table" )
importFrom( "grDevices", "as.raster", "colorRampPalette", "trans3d" )

# export plotting functions
export( 
         dssp,
         dssp_ts,
         rmsd,
         rmsf,
         clusters,
         TIcurve,
         hbond,
         ramachandran,
         xrmsd,
         hbond_ts,
         clusters_ts,
         timeseries,
         rmsd_average,
         noe,
         mem_lod,
         mem_lod_ts,
         mem_tpc,
         mem_tmc,
         mem_apl,
         mem_loc,
         mem_loc_ts,
         mem_area,
         mem_area_ts
       )

# export loading functions
export(
         load_hbond,
         load_ramachandran,
         load_clusters,
         load_TIcurve,
         load_dssp,
         load_dssp_ts,
         load_rmsf,
         load_rmsd,
         load_xrmsd,
         load_hbond_ts,
         load_clusters_ts,
         load_timeseries,
         load_noe,
         load_mem_lod,
         load_mem_lod_ts,
         load_mem_tpc,
         load_mem_tmc,
         load_mem_apl,
         load_mem_loc,
         load_mem_loc_ts,
         load_mem_area,
         load_mem_area_ts
      )

# export other functions
export(
         parse_arguments,
         testRequired,
         getValue,
         getFiles,
         testAllowed,
         getListOfKeys,
         isKeySet,
         integrate_curve,
         split_equidistant,
         translate_aminoacids,
         plot_segments,
         get_sign_digits,
         fill_bins,
         print_help,
         setNumberDigits,
         load_XPM,
         find_Nth_occurrence,
         split_GROMACS_atomnames,
         load_clusters_GROMACS,
         split_AMBER_atomnames
      )

# export classes
exportClasses(
               MDplot_argument
             )
